<div class="bg-light py-5">
        <div class="container-xl">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
                        <!-- Column 1 -->
                        <div class="col">
                                <h6 class="fw-medium mb-3 fs-6 text__dark">Manage IT Services</h6>
                                <ul class="list-unstyled small">
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT
                                                        Support</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT
                                                        Helpdesk &
                                                        Support</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">On-Site
                                                        IT
                                                        Support</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Microsoft
                                                        Office 365
                                                        Support</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Google
                                                        Workspace
                                                        Support</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Google
                                                        Workspace to
                                                        Office 365 Migration</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Desktop
                                                        as a
                                                        Service</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT Asset
                                                        Management</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Network
                                                        Management</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Remote
                                                        Monitoring &
                                                        Management (RMM)</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT Policy
                                                        &
                                                        Compliance
                                                        Management</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Device
                                                        Lifecycle
                                                        Management</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT
                                                        Documentation &
                                                        Knowledge Base
                                                        Services</a></li>
                                </ul>
                        </div>
                        <!-- Column 2 -->
                        <div class="col">
                                <h6 class="fw-medium mb-3 fs-6 text__dark">IT Consultancy Services</h6>
                                <ul class="list-unstyled small">
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT
                                                        Project
                                                        Planning</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Digital
                                                        Transformation</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Bespoke
                                                        Software
                                                        Development</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT
                                                        Outsourcing</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Data
                                                        Privacy &
                                                        Protection</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">AI
                                                        Automation</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Application
                                                        Testing
                                                        Service (QA)</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT
                                                        Strategy & Roadmap
                                                        Development</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">CIO-as-a-Service
                                                        /
                                                        Virtual CIO</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Change
                                                        Management
                                                        Consulting</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Technology
                                                        Risk
                                                        Assessment & Mitigation</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT Vendor
                                                        Management
                                                        &
                                                        Procurement
                                                        Consulting</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">AI-Driven
                                                        IT
                                                        Operations (AIOps)</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Intelligent
                                                        Automation
                                                        Services (RPA +
                                                        AI)</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">AI
                                                        Document
                                                        Processing</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Data
                                                        Analytics & Big
                                                        Data</a></li>
                                </ul>
                        </div>
                        <!-- Column 3 -->
                        <div class="col">
                                <h6 class="fw-medium mb-3 fs-6 text__dark">Manage Security Services</h6>
                                <ul class="list-unstyled small">
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Cyber
                                                        Security</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">IT Audit
                                                        and
                                                        Compliance</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Cyber
                                                        Essentials</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Cybersecurity
                                                        and
                                                        Antivirus</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Vulnerability
                                                        Assessment Services</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Email
                                                        Spam
                                                        Filtering</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">End Point
                                                        Protection</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Secure
                                                        Access Service
                                                        Edge (SASE)</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Penetration
                                                        Testing
                                                        Services</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Security
                                                        Operations
                                                        Center (SOC) as a
                                                        Service</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">SIEM
                                                        Integration</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Security
                                                        Awareness
                                                        Training</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Zero
                                                        Trust
                                                        Architecture Consulting</a></li>
                                </ul>
                        </div>
                        <!-- Column 4 -->
                        <div class="col">
                                <h6 class="fw-medium mb-3 fs-6 text__dark">Cloud & Datacentre</h6>
                                <ul class="list-unstyled small">
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Hosted
                                                        Desktop
                                                        Services</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Cloud
                                                        Computing</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Data
                                                        Warehouse</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Data
                                                        Backup &
                                                        Recovery</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Server
                                                        Monitoring &
                                                        Support</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Disaster
                                                        Recovery</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Cloud
                                                        Cost
                                                        Optimization & FinOps</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Hybrid
                                                        Cloud &
                                                        Multi-Cloud Strategy</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Virtual
                                                        Desktop
                                                        Infrastructure</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Cloud
                                                        Security
                                                        Posture
                                                        Management (CSPM)</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Datacentre
                                                        Migration
                                                        Services</a></li>
                                </ul>
                        </div>
                        <!-- Column 5 -->
                        <div class="col">
                                <h6 class="fw-medium mb-3 fs-6 text__dark">Unified Communication</h6>
                                <ul class="list-unstyled small">
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Hosted
                                                        Telephone</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Business
                                                        Internet</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Business
                                                        Mobile
                                                        Phones</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">VoIP
                                                        System
                                                        Deployment
                                                        & Management</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">MS Teams
                                                        & Zoom
                                                        Integration Services</a></li>
                                </ul>
                                <h6 class="fw-medium mb-3 fs-6 text__dark">Products</h6>
                                <ul class="list-unstyled small">
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">EPOS</a>
                                        </li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Cloud
                                                        ERP</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Accounting
                                                        Software</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Legal
                                                        Practice
                                                        Management</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Document
                                                        Management
                                                        System</a></li>
                                        <li><a href="#" class="text-decoration-none fs-6 footer__light__text hover__secondary mb-2__5 d-inline-block"
                                                        style="font-size: 14px !important; line-height: 20px;">Clinic
                                                        Management
                                                        System</a></li>
                                </ul>
                        </div>
                </div>
                <hr>
                <!-- Bottom footer -->
                <div class="row align-items-end pt-3">
                        <div class="col-md-6 mb-3 mb-md-0">
                                <div class="mb-2">
                                        <a href="#">
                                                <img src="./assets/images/footerlogo.png" alt="logo">
                                        </a>
                                        <p class="mt-1 small footer__light__text ms-4">Powering Smarter IT</p>
                                </div>
                                <small class="small text-muted d-block">© 2025 Infotenix - All Rights Reserved.</small>
                                <div class="d-flex items-center flex-wrap gap-4">
                                        <a href="#" class="text-decoration-none small footer__light__text">About</a>
                                        <a href="#" class="text-decoration-none small footer__light__text">Terms &
                                                Conditions</a>
                                        <a href="#" class="text-decoration-none small footer__light__text">Privacy policy</a>
                                        <a href="#" class="text-decoration-none small footer__light__text">Cookies policy</a>
                                        <a href="#" class="text-decoration-none small footer__light__text">Blog</a>
                                        <a href="#" class="text-decoration-none small footer__light__text">Contact us</a>
                                </div>
                        </div>
                        <div class="col-md-6 text-md-end">
                                <div class="d-flex align-items-center justify-content-end gap-2 mb-2">
                                        <span class="small footer__light__text">Follow us on</span>
                                        <a href="#">
                                                <i class="fa-brands fa-square-linkedin fs-3 footer__light__text"></i>
                                        </a>
                                        <a href="#">
                                                <i class="fa-brands fa-square-facebook fs-3 footer__light__text"></i>
                                        </a>
                                        <a href="#">
                                                <i class="fa-brands fa-youtube fs-3 footer__light__text"></i>
                                        </a>
                                </div>
                                <p class="mb-0 small footer__light__text">Infotenix is a limited company registered in England
                                </p>
                                <p class="mb-0 small footer__light__text">Registered Office, 88 MacDonald Street, Birmingham, B5
                                        6TN, United
                                        Kingdom</p>
                        </div>
                </div>
        </div>
</div>