<div class="bg-light py-5">
    <div class="container-xl">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
            <!-- Column 1 -->
            <div class="col">
                <h6 class="fw-bold mb-3 fs-6 text__dark">Manage IT Services</h6>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Support</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Helpdesk &
                            Support</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">On-Site IT
                            Support</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Microsoft Office 365
                            Support</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Google Workspace
                            Support</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Google Workspace to
                            Office 365 Migration</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Desktop as a
                            Service</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Asset
                            Management</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Network
                            Management</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Remote Monitoring &
                            Management (RMM)</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Policy &
                            Compliance
                            Management</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Device Lifecycle
                            Management</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Documentation &
                            Knowledge Base
                            Services</a></li>
                </ul>
            </div>
            <!-- Column 2 -->
            <div class="col">
                <h6 class="fw-bold mb-3 fs-6 text__dark">IT Consultancy Services</h6>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Project
                            Planning</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Digital
                            Transformation</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Bespoke Software
                            Development</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Outsourcing</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Data Privacy &
                            Protection</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">AI Automation</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Application Testing
                            Service (QA)</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Strategy & Roadmap
                            Development</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">CIO-as-a-Service /
                            Virtual CIO</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Change Management
                            Consulting</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Technology Risk
                            Assessment & Mitigation</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Vendor Management
                            &
                            Procurement
                            Consulting</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">AI-Driven IT
                            Operations (AIOps)</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Intelligent
                            Automation
                            Services (RPA +
                            AI)</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">AI Document
                            Processing</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Data Analytics & Big
                            Data</a></li>
                </ul>
            </div>
            <!-- Column 3 -->
            <div class="col">
                <h6 class="fw-bold mb-3 fs-6 text__dark">Manage Security Services</h6>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Cyber Security</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">IT Audit and
                            Compliance</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Cyber Essentials</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Cybersecurity and
                            Antivirus</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Vulnerability
                            Assessment Services</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Email Spam
                            Filtering</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">End Point
                            Protection</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Secure Access Service
                            Edge (SASE)</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Penetration Testing
                            Services</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Security Operations
                            Center (SOC) as a
                            Service</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">SIEM Integration</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Security Awareness
                            Training</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Zero Trust
                            Architecture Consulting</a></li>
                </ul>
            </div>
            <!-- Column 4 -->
            <div class="col">
                <h6 class="fw-bold mb-3 fs-6 text__dark">Cloud & Datacentre</h6>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Hosted Desktop
                            Services</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Cloud Computing</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Data Warehouse</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Data Backup &
                            Recovery</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Server Monitoring &
                            Support</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Disaster Recovery</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Cloud Cost
                            Optimization & FinOps</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Hybrid Cloud &
                            Multi-Cloud Strategy</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Virtual Desktop
                            Infrastructure</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Cloud Security
                            Posture
                            Management (CSPM)</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Datacentre Migration
                            Services</a></li>
                </ul>
            </div>
            <!-- Column 5 -->
            <div class="col">
                <h6 class="fw-bold mb-3 fs-6 text__dark">Unified Communication</h6>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Hosted Telephone</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Business Internet</a>
                    </li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Business Mobile
                            Phones</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">VoIP System
                            Deployment
                            & Management</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">MS Teams & Zoom
                            Integration Services</a></li>
                </ul>
                <h6 class="fw-bold mb-3 fs-6 text__dark">Products</h6>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">EPOS</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Cloud ERP</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Accounting
                            Software</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Legal Practice
                            Management</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Document Management
                            System</a></li>
                    <li><a href="#" class="text-decoration-none fs-6 text__light hover__secondary">Clinic Management
                            System</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <!-- Bottom footer -->
        <div class="row align-items-center pt-3">
            <div class="col-md-7 mb-3 mb-md-0">
                <div class="mb-2">
                    <a href="#">
                        <img src="../assets/images/footerlogo.png" alt="logo">
                    </a>
                    <p class="mt-1 small text__light ms-4">Powering Smarter IT</p>
                </div>
                <small class="small text-muted d-block">© 2025 Infotenix - All Rights Reserved.</small>
                <div class="d-flex items-center flex-wrap gap-4">
                    <a href="#" class="text-decoration-none small text__light">About</a>
                    <a href="#" class="text-decoration-none small text__light">Terms & Conditions</a>
                    <a href="#" class="text-decoration-none small text__light">Privacy policy</a>
                    <a href="#" class="text-decoration-none small text__light">Cookies policy</a>
                    <a href="#" class="text-decoration-none small text__light">Blog</a>
                    <a href="#" class="text-decoration-none small text__light">Contact us</a>
                </div>
            </div>
            <div class="col-md-5 text-md-end">
                <div class="d-flex align-items-center justify-content-end gap-2 mb-2">
                    <span class="small text__black">Follow us on</span>
                    <a href="#">
                        <i class="fa-brands fa-square-linkedin fs-3 text__light"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-square-facebook fs-3 text__light"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-youtube fs-3 text__light"></i>
                    </a>
                </div>
                <p class="mb-2 small text__light">Infotenix is a limited company registered in England</p>
                <p class="mb-0 small text__light">Registered Office, 88 MacDonald Street, Birmingham, B5 6TN, United
                    Kingdom</p>
            </div>
        </div>
    </div>
</div>