<!-- Navbar -->
<nav class="bg-white shadow-sm py-3">
    <div class="container-xl">
        <div class="d-flex align-items-center justify-content-between">
            <a class="img-fluid" href="#">
                <img src="./assets/images/logo.png" alt="logo">
            </a>

            <div class="d-flex gap-4">
                <a href="#" class="text__dark small fw-normal text-decoration-none">Service</a>
                <a href="#" class="text__dark small fw-normal text-decoration-none">Products</a>
                <a href="#" class="text__dark small fw-normal text-decoration-none">Industries</a>
                <a href="#" class="text__dark small fw-normal text-decoration-none">Blog</a>
            </div>

            <div class="d-flex align-items-center gap-3">
                <a href="#" class="d-flex gap-2 align-items-center text-decoration-none small text__dark">
                    <!-- <i class="fa-solid fa-headset"></i> -->
                    <img style="max-width: 16px; height: auto;" src="./assets/images/icons/supporticon.png"
                        alt="Support">
                    <span>Support</span>
                </a>
                <a href="#" class="d-flex gap-2 align-items-center text-decoration-none small text__dark">
                    <!-- <i class="fa-solid fa-phone"></i> -->
                    <img style="max-width: 16px; height: auto;" src="./assets/images/icons/phoneicon.png" alt="phone">
                    <span>0121 53500055</span>
                </a>
                <a href="#contact" class="btn__ rounded-pill bg__primary text__dark small">Let's Connect</a>
            </div>
        </div>
    </div>
</nav>